<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-list-item"><a href="/">Shop</a></li>
          <li class="nav-list-item">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h3 class="page-not-found">Page Not Found</h3>
    </main>
  </body>
</html>
