.header {
  z-index: 100;
  position: sticky;
  top: 0;
  height: 60px;
  padding: 0;
  margin: 0;
  background-color: rgb(32, 76, 94);
  width: 100%;
}

.header-nav {
  margin: 0;
  height: 100%;
}

.nav-list {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list-item {
  font-size: 16px;
  list-style-type: none;
  padding: 16px;
  cursor: pointer;
}

.nav-list-item a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.nav-list-item a.active {
  color: rgb(239, 236, 54);
}

.main-content {
  padding: 24px;
  height: calc(100% - 108px);
  overflow: auto;
}
